.about-me-wrapper {
    padding: 50px;
}
.form-wrapper {
    width: 30%;
    padding: 15px;
    padding-bottom: 50px;
    border: 1px solid #17a2b8;
    float: left;
    margin: 20px;
}
.form-submit {
    float: left;
}
.form-title {
    font-size: 22px;
    text-align: left;
    margin-bottom: 18px;
    color: #1d1d1d;
}
.form-control {
    font-weight: 300;
}
.logo-wrapper {
    margin: 20px;
    padding: 40px;
}